.form {
    position: relative;
    display: inline-block;
}

.form input[type="text"] {
    padding-left: 30px;
    width: 200px;
}

.form svg {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.commitButton {
    background: none;
    position: absolute;
    right: 20%;
    cursor: pointer;
}

.commitButton:active {
    background: #f0f0f0;
}

.heart:hover {
    cursor: pointer;
}

.marked::before {
    content: "";
    position: sticky;
    top: 0;
    background-color: black;
    padding: 50%;
    opacity: 60%;
}
.markedCodes{
    position: relative;
    z-index: 1;
}
