<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/SearchButton.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <link rel="stylesheet" th:href="@{/css/hljs.css}">
    <style>
        .binstaFonts {
            font-family: "Playwrite BE VLG", cursive;
            font-optical-sizing: auto;
            font-weight: 336;
            font-style: normal;
        }
    </style>
</head>
<body>
<nav class="d-flex justify-content-between container p-3">
    <h1 class="binstaFonts">Binsta</h1>
    <div class="input-group d-flex justify-content-center align-items-center">
        <form class="form" th:action="@{/search}" method="get" id="searchForm">
            <svg id="searchIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
            <input type="text" class="form-control form-input" placeholder="Search anything...">
        </form>
    </div>
    <ul class="d-flex align-items-center list-unstyled">
        <li>
            <a th:href="@{/blog/create}">
                <svg th:class="mx-1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-plus-square"
                     viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
            </a></li>
        <li>
            <svg th:class="mx-1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                 class="bi bi-house-door"
                 viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
            </svg>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                <img style="height: 40px"
                     id="avatar"
                     th:src="'data:image/jpeg;base64,' + ${UserAvatar}"
                     alt="Blog Image"
                >
            </a>
            <ul class="dropdown-menu">
                <li>
                    <button type="button" class="bg-body border-0 w-100" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Log out
                    </button>
                </li>
            </ul>
        </li>
    </ul>

</nav>

<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">Are you sure you want to log out?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form th:action="@{/user/logout}" method="post">
                    <input type="submit" class="btn btn-primary" value="Sign Out"/>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div th:each="blog : ${blogsData}" class="border rounded border-1 pt-3 my-5">
        <div class="d-flex align-items-center" th:id="${blog.getId()}">
            <img style="height: 40px"
                 th:src="'data:image/jpeg;base64,' + ${blog.getAvatarBase64()}"
                 alt="Blog Image"
            >
            <h1 class="mx-4" th:text="${blog.getTitle()}"></h1>
        </div>
        <div class="position-relative overflow-scroll"
             th:style="'background-image: url(data:image/jpeg;base64,' + ${blog.getImageBase64()} + ');background-repeat:no-repeat;background-size: cover;max-height:30vh;background-position:center'">
            <div class="marked">
                <pre class="markedCodes d-flex align-items-start m-0">
            <code th:text="${blog.getCodes()}"
                  style="background-color: #beabab00;filter: brightness(5);"
                  class="p-0 codes visually-hidden markedCodes">
            </code>
                </pre>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <svg style="color: black" th:class="heart" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 fill="currentColor"
                 class="bi bi-heart"
                 viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg>
            <span class="m-0 mx-2" th:text="${blog.getLikeCount()}"></span>
            <span>likes</span>
        </div>
        <div>
            <span class="fw-bolder" th:text="${blog.getNickName()}+':'"></span>
            <span th:text="${blog.getDescription()}"></span>
        </div>
        <div th:text="'Created at '+${blog.getCreateDate()}">
        </div>
        <div class="d-flex border-top h-auto comment-form position-sticky sticky-top">
            <input type="hidden" name="blogId" th:value="${blog.getId()}">
            <input type="text" name="description" class="w-100 border-0 py-2" placeholder="Post a comment ...">
            <button class="border-0 py-2 text-primary commitButton" type="button" onclick="createCommit(event)">Post
            </button>
            <button class="border-0 bg-body" onclick="ShowCommit(event)">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                     class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                     class="bi bi-chevron-up visually-hidden" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
                </svg>
            </button>
        </div>
        <div class="commitsField visually-hidden">
            <div th:each="commit : ${blog.getCommits()}">
                <div class="border-bottom">
                    <div class="d-flex border-top">
                        <img class="m-2" style="height: 20px"
                             th:src="'data:image/jpeg;base64,' + ${commit.getUser().getAvatarBase64()}"
                             alt="Blog Image"
                        >
                        <span class="m-2 fw-bolder" th:text="${commit.getUser().getNickname()}"></span>
                        <span class="m-2" th:text="${commit.getCreateDate().format(formatter)}"></span>
                    </div>
                    <p class="mx-5" th:text="${commit.getDescription()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script th:src="@{js/markedCodes.js}"></script>
<script th:src=" @{js/SearchButton.js}"></script>
<script th:src="@{js/SendCommit.js}"></script>
<script th:src="@{js/ShowCommit.js}"></script>
<script th:src="@{js/addLikes.js}"></script>
</body>
</html>