<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="profile-container">
    <div class="d-flex justify-content-between">
        <a th:href="@{/index}" class="text-dark">Terug</a>
        <a th:href="@{/user/edit}" class="text-dark">Edit</a>
    </div>
    <div class="profile-header">
        <img th:src="@{'data:image/jpeg;base64,' + ${user.getAvatarBase64()}}" alt="Profile Photo"
             class="profile-photo">
        <div class="bio">
            <h1 th:text="${user.getUsername()}">User Name</h1>
            <h2 th:text="${user.getNickname()}">User Name</h2>
            <p th:text="${user.getBio()}">This is the user's bio.</p>
        </div>
    </div>

    <div class="feed">
        <h2>Personal Feed</h2>
        <div th:each="blogs : ${user.getBlogs()}">
            <div class="post">
                <h3 th:text="${blogs.getTitle()}">Post Title</h3>
                <p><small th:text="${blogs.getLikeCount()}+' likes'"></small></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
