<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body class="d-flex justify-content-center">
<form th:action="@{/register}" method="post" class="py-5">
    <form action="/register" method="post">
        <h1>Username</h1>
        <input type="text" name="username"/>
        <h1>Password</h1>
        <input type="password" name="password"/>
        <h1>Roles</h1>
        <div class="d-flex">
            <div th:each="role : ${roles}">
                <input type="checkbox" th:id="'role_' + ${role.name()}" th:name="roles" th:value="${role.name()}"/>
                <label th:for="'role_' + ${role.name()}" th:text="${role.name()}"></label>
            </div>
        </div>
        <button type="submit">Register</button>
    </form>
</form>
</body>
</html>